[submodule "src/js/hakureijs"]
	path = src/js/hakureijs
	url = https://github.com/sairoutine/hakureijs.git

[submodule "src/js/vendor/SsaPlayer"]
	path = src/js/vendor/SsaPlayer
	url = https://github.com/sairoutine/SsaPlayer.git
[submodule "public/js/lib"]
	path = public/js/lib
	url = git@github.com:sairoutine/Koishibow-lib.git
